@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #fa9cde;
    --laranja: #ec82d2;
    --azul-degrade: linear-gradient(97.54deg, #e62ebe 35.49%, #d328a8 165.37%);
    --fonte-principal: "Poppins";
    --azul: #e263ad;
    --fonte-secundario: "Josefin Sans";
    --preto: #e76ab3;
    --cinza: #dd2a8c;
    --cinza-claro: #ec288a;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
